
  <footer class="footer pt-5 mt-5">
    <div class="container">
      <div class=" row">
        <div class="col-12">
          <div class="text-center">
            <a href="">
              <img src="{{ ASSETS_ROOT }}/img/dish-png-01.png" class="mb-3 footer-logo" alt="main_logo">
            </a>
            <h6 class="font-weight-bolder mb-4">Kitchen Service</h6>
          </div>
        </div>
        <div class="col-12">
          <div class="text-center">
            <p class="text-dark my-4 text-sm font-weight-normal">
              &copy; Coded By Ruslan Y.
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
