{% extends "base.html" %}

{% block content %}
  <h1>
    Dish Type List
  </h1>
  <br>

  {% if dish_type_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
      </tr>

      {% for dish_type in dish_type_list %}
        <tr>
          <td>
              {{ dish_type.id }}
          </td>
          <td>
              {{ dish_type.name }}
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
      <p>There are no dish types in the service</p>
  {% endif %}

{% endblock %}
